* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.hidden {
  display: none; }

html,
.custom-body-class {
  overflow-x: hidden; }

body {
  background: #2b2c31;
  font-family: "Lato", sans-serif; }

header {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

header h1 {
  color: white; }

.sign-in-form {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex; }

h2 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 2.441rem;
  margin: 0; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px; }

.logo-container {
  width: 10vw;
  height: auto; }

.sign-in-form .image-background {
  position: relative;
  width: 50%;
  height: 100%; }

.sign-in-form .image-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2870d;
  background: -moz-linear-gradient(90deg, #f2870d 0%, #f5a851 35%, #c12525 100%);
  background: -webkit-linear-gradient(90deg, #f2870d 0%, #f5a851 35%, #c12525 100%);
  background: linear-gradient(90deg, #f2870d 0%, #f5a851 35%, #c12525 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2870d",endColorstr="#c12525",GradientType=1);
  z-index: 1;
  mix-blend-mode: screen; }

.sign-in-form .image-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.sign-in-form .content-background {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center; }

.sign-in-form .content-background .form-background {
  width: 50%; }

.sign-in-form .content-background .form-background h2 {
  color: #f5a851;
  font-weight: 600;
  font-size: 2.441rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-flex;
  letter-spacing: 1px; }

.sign-in-form .content-background .form-background .input-background {
  margin-bottom: 20px; }

.sign-in-form .content-background .form-background .input-background span {
  display: inline-flex;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: white; }

.sign-in-form .content-background .form-background .remember {
  color: white;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px; }

.sign-in-form .content-background .form-background .input-background input {
  width: 100%;
  padding: 12px 20px;
  border-style: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: #777;
  letter-spacing: 1px; }

.sign-in-form .content-background .form-background .remember .check-box {
  margin-right: 10px; }

.sign-in-form .form-background .orange-lava-button input {
  cursor: pointer;
  outline: none;
  width: 100%;
  border-style: none;
  padding: 12px 20px;
  border-radius: 8px;
  outline: none;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  background: #f5a851;
  transition: transform 80ms ease-in; }

.sign-in-form .form-background .orange-lava-button input:hover {
  background: #dd8928; }

.sign-in-form .orange-lava-button:active {
  transform: scale(0.96); }

.sign-in-form .form-background .input-box p a {
  color: #f5a851;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 400; }

.sign-in-form
.content-background
.form-background
.orange-lava-button
input:focus {
  outline: focus; }

.sign-in-form .content-background .form-background .input-box p {
  display: inline-flex;
  font-size: 1rem;
  color: white;
  margin-bottom: 5px;
  font-weight: 300;
  letter-spacing: 1px; }

.social-media-title {
  color: #f5a851;
  font-weight: 400;
  font-size: 1rem; }

.social-container {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 50px; }
  .social-container h3 {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400; }

.social-container a {
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  background: #444; }

.social-container a:hover {
  background: #dd8928; }

.social-container a:active {
  transform: scale(0.96); }

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1; }

.white-box-contain {
  display: flex;
  justify-content: center;
  align-items: center; }

.white-box {
  width: 90%;
  height: auto;
  border-radius: 5px;
  background: #e0e0e0;
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 40px; }

.white-box h3 {
  display: block;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4375rem;
  text-align: center; }

.equipment-suggestions-content {
  width: 93%;
  height: 50%;
  border-radius: 5px;
  background: white;
  padding: 40px;
  margin-top: 50px; }

.equipment-suggestions-content p {
  display: block;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4375rem; }

.continue-button input {
  cursor: pointer;
  width: 311px;
  height: 56px;
  border-style: none;
  border-radius: 4px;
  background: #2b2c31;
  box-shadow: 7px 7px 15px #1b1c1f, -7px -7px 15px #3b3c43;
  color: white;
  font-size: 21px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
  outline: none;
  text-decoration: none;
  transition: transform 80ms ease-in;
  user-select: none; }

.pressure-suggestion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.pressure-suggestion-content .suggestion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around; }

/* smooth hover animation */
.nav-links li a {
  padding: 10px 20px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  color: white;
  transition: all 0.5s ease 0s; }

/* animation action */
.nav-links li a:hover {
  padding: 10px 20px;
  background: #f5a851;
  color: white; }

/* hide the burger menu */
.hamburger {
  display: none;
  cursor: pointer;
  padding: 0px; }

.line1 {
  width: 50px;
  height: 3px;
  margin: 7px;
  background-color: #f5a851; }

.welcome-container .continue-button input:hover {
  border-radius: 4px;
  background: linear-gradient(145deg, #27282c, #2e2f34);
  box-shadow: 7px 7px 15px #1b1c1f, -7px -7px 15px #3b3c43; }

.welcome-container .continue-button:active {
  transform: scale(0.96); }

.button-container-style {
  display: flex;
  flex: 1 1;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
  user-select: none; }

.button-container-style div {
  display: flex;
  flex-wrap: wrap; }

.button-container-style input {
  border-style: none;
  align-items: center;
  padding: 22px 65px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background: #e0e0e0;
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

.button-container-style input:hover {
  border-radius: 10px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

footer {
  margin-top: 200px; }

.user-instructions {
  width: 50%;
  padding: 40px; }

.user-instructions p {
  font-size: 1rem;
  color: white;
  font-weight: 200; }

@media only screen and (max-width: 1024) {
  .white-box h3 {
    display: block;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4375rem; }

  .white-box {
    width: 90vw;
    height: 33vh;
    border-radius: 5px;
    background: #e0e0e0;
    padding: 20px;
    outline: none;
    margin-top: 150px;
    margin-bottom: 40px; }

  .user-instructions {
    width: 50%;
    padding: 40px; }

  .user-instructions p {
    font-size: 1rem;
    color: white;
    font-weight: 200; } }
@media only screen and (max-width: 768px) {
  html,
  .custom-body-class {
    overflow-x: hidden; }

  .logo-container {
    width: 20vw;
    height: auto; }

  .sign-in-form .image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .sign-in-form .content-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1; }

  .sign-in-form .content-background .form-background {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    margin: 50px; }

  .sign-in-form .content-background .form-background .input-background span {
    font-weight: 400;
    color: #2b2c31; }

  .sign-in-form .content-background .form-background .input-background input {
    color: #2b2c31;
    background: #ffe7cd; }

  .sign-in-form .content-background .form-background .remember {
    color: #2b2c31;
    font-size: 1rem; }

  .sign-in-form .content-background .form-background .input-box p {
    color: #2b2c31;
    font-size: 1rem;
    font-weight: 300; }
    .sign-in-form .content-background .form-background .input-box p a {
      font-weight: 700; }

  .social-container h3 {
    color: #2b2b2b; }

  .pressure-suggestion-content .suggestion-container {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .pressure-suggestion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }

  .white-box {
    width: 90%;
    height: auto;
    border-radius: 5px;
    background: #e0e0e0;
    outline: none;
    margin-top: 150px;
    margin-bottom: 40px; }

  .equipment-suggestions-content {
    width: 85%;
    height: 50%;
    border-radius: 5px;
    background: white;
    padding: 40px;
    margin-top: 50px; }

  .equipment-suggestions-content p {
    display: block;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4375rem; }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: auto;
    position: absolute;
    width: 70%;
    top: 0vh;
    right: 0px;
    height: 100vh;
    background-color: #f5a851;
    transform: translateX(100%);
    transition: transform 0.3s ease-in; }

  .nav-links li a {
    color: black;
    font-size: 1.5rem;
    font-weight: 400; }

  .nav-links li {
    opacity: 0; }

  .welcome-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -90px 0 50px;
    z-index: -1; }

  .button-container-style {
    display: flex;
    flex: 1 1;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px; }

  .button-container-style div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }

  .button-container-style input {
    border-style: none;
    align-items: center;
    padding: 22px 65px;
    cursor: pointer;
    font-size: 1rem; }

  .button-container-style input:hover {
    border-radius: 10px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

  .user-instructions {
    width: 90%;
    padding: 40px; }

  .user-instructions p {
    font-size: 1rem;
    color: white;
    font-weight: 200; } }
.nav-active {
  -o-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    -o-transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px); }
  to {
    opacity: 1;
    -o-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0px); } }

/*# sourceMappingURL=main.css.map */
