@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html,
.custom-body-class {
  overflow-x: hidden;
}

// html {
// overflow-x: hidden;
// }

// Sass Variables font size
// $saira-h1: 5vw;
$saira-h2: 2.441rem;
$saira-h3: 3rem;
$saira-h4: 2rem;
$saira-h5: 1.5rem;
// $saira-p: 1vw;
$saira-small: 0.95rem;
$saira-message-line-height: 3.4375rem;

// Saira-Extra-Condensed
// H1 Bold 64pt 700
// H2 Semibold 48pt 600
// H3 Regular 36pt 400
// H4 Light 21pt 300
// H5 Medium 12pt 500
// P Regular 12pt 300
// SMALL Regular 12pt 100

// Sass Variables font size
// $lato-h1: 5vw;
// $lato-h2: 4vw;
$lato-h3: 1rem;
$lato-h4: 1.5rem;
// $lato-h5: 1vw;
$lato-p: 1rem;
$lato-small: 1rem;

// Lato
// H1 Extrabold 64pt 900
// H2 Bold 48pt 700
// H4 Regular 21pt 400
// P Regular 16pt 400
// SMALL Regular 12pt 100

body {
  background: #2b2c31;
  font-family: "Lato", sans-serif;
}

header {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header h1 {
  color: white;
}

.sign-in-form {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

h2 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: $saira-h2;
  margin: 0;
}

// Form stying
p {
  font-size: $lato-p;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.back-button {
  cursor: pointer;
  display: block;
}

.logo-container {
  width: 10vw;
  height: auto;
  margin-left: 165px;
}

.sign-in-form .image-background {
  position: relative;
  width: 50%;
  height: 100%;
}

// gradient background
.sign-in-form .image-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(242, 135, 13);
  background: -moz-linear-gradient(
    90deg,
    rgba(242, 135, 13, 1) 0%,
    rgba(245, 168, 81, 1) 35%,
    rgba(193, 37, 37, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(242, 135, 13, 1) 0%,
    rgba(245, 168, 81, 1) 35%,
    rgba(193, 37, 37, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(242, 135, 13, 1) 0%,
    rgba(245, 168, 81, 1) 35%,
    rgba(193, 37, 37, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2870d",endColorstr="#c12525",GradientType=1);
  z-index: 1;
  mix-blend-mode: screen;
}

.sign-in-form .image-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// center form to the window
.sign-in-form .content-background {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sign-in-form .content-background .form-background {
  width: 50%;
}

// login text
.sign-in-form .content-background .form-background h2 {
  color: #f5a851;
  font-weight: 600;
  font-size: $saira-h2;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-flex;
  letter-spacing: 1px;
}

// form spacing
.sign-in-form .content-background .form-background .input-background {
  margin-bottom: 20px;
}

// form names
.sign-in-form .content-background .form-background .input-background span {
  display: inline-flex;
  font-size: $lato-p;
  font-weight: 300;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: white;
}

// remember
.sign-in-form .content-background .form-background .remember {
  color: white;
  margin-bottom: 10px;
  font-size: $lato-p;
  font-weight: 300;
  letter-spacing: 1px;
}

// form text
.sign-in-form .content-background .form-background .input-background input {
  width: 100%;
  padding: 12px 20px;
  border-style: none;
  border-radius: 8px;
  outline: none;
  font-size: $lato-p;
  font-weight: 400;
  color: #777;
  letter-spacing: 1px;
}

// checkbox
.sign-in-form .content-background .form-background .remember .check-box {
  margin-right: 10px;
}

// orange button
.sign-in-form .form-background .orange-lava-button input {
  cursor: pointer;
  outline: none;
  width: 100%;
  border-style: none;
  padding: 12px 20px;
  border-radius: 8px;
  outline: none;
  font-size: $lato-h4;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  background: #f5a851;
  transition: transform 80ms ease-in;
}

// hover
.sign-in-form .form-background .orange-lava-button input:hover {
  background: #dd8928;
}

.sign-in-form .orange-lava-button:active {
  transform: scale(0.96);
}

.sign-in-form .form-background .input-box p a {
  color: #f5a851;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 400;
}

.sign-in-form
  .content-background
  .form-background
  .orange-lava-button
  input:focus {
  outline: focus;
}

.sign-in-form .content-background .form-background .input-box p {
  display: inline-flex;
  font-size: $lato-p;
  color: white;
  margin-bottom: 5px;
  font-weight: 300;
  letter-spacing: 1px;
}

// social media
.social-media-title {
  color: #f5a851;
  font-weight: 400;
  font-size: $lato-p;
}

.social-container {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  h3 {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

.social-container a {
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  background: #444;
}

.social-container a:hover {
  background: #dd8928;
}

.social-container a:active {
  transform: scale(0.96);
}

// welcome
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box-contain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

//range slider
.slider-box {
  // width: 35%;
  width: 33vw;
}

.info-box {
  border-radius: 5px;
  background: #e0e0e0;
  padding: 23px;
  margin: 0 auto;
}

.swiper-info-box {
  width: 90%;
  border-radius: 5px;
  background: #e0e0e0;
  padding: 23px 0;
  margin: 0 auto;
}

.info-box h3 {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: $lato-h4;
  font-weight: 400;
  text-align: center;
  line-height: 2.75rem;
  margin-bottom: 4rem;
}

// equipment container
.equipment-suggestions-content {
  width: 93%;
  height: 50%;
  border-radius: 5px;
  background: white;
  padding: 40px;
  margin-top: 50px;
}

.equipment-suggestions-content p {
  display: block;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: $saira-h4;
  font-weight: 400;
  line-height: $saira-message-line-height;
}

.continue-button input {
  cursor: pointer;
  width: 311px;
  height: 56px;
  border-style: none;
  border-radius: 4px;
  background: #2b2c31;
  box-shadow: 7px 7px 15px #1b1c1f, -7px -7px 15px #3b3c43;
  color: white;
  font-size: 21px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
  outline: none;
  text-decoration: none;
  transition: transform 80ms ease-in;
  user-select: none;
}

// pressure suggestion desktop, tablet
// pressure suggestion
.pressure-suggestion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pressure-suggestion-content .suggestion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  z-index: 2;
}

// desktop menu with setup
.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* smooth hover animation */
.nav-links li a {
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 1px;
  list-style: none;
  text-transform: uppercase;
  color: white;
  transition: all 0.5s ease 0s;
}

/* animation action */
.nav-links li a:hover {
  padding: 10px 20px;
  background: #f5a851;
  color: white;
}

/* hide the burger menu */
.hamburger {
  display: none;
  cursor: pointer;
  padding: 0;
}

.line1 {
  width: 50px;
  height: 3px;
  margin: 7px;
  background-color: #f5a851;
}

// hover
.welcome-container .continue-button input:hover {
  border-radius: 4px;
  background: linear-gradient(145deg, #27282c, #2e2f34);
  box-shadow: 7px 7px 15px #1b1c1f, -7px -7px 15px #3b3c43;
}

.welcome-container .continue-button:active {
  transform: scale(0.96);
}

.button-container-style form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.button-container-style div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85px;
  height: 85px;
  text-align: center;
}

.button-container-style label {
  justify-items: center;
}

.button-container-style label,
.button-container-style input {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: -11px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 36px 0;
}

.button-container-style input[type="radio"] {
  opacity: 0;
  z-index: 100;
}

/* radio button pressed */
.button-container-style form input[type="radio"]:checked + label,
.Checked + label {
  background: #bebebe;
  border-radius: 50%;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
}

.button-container-style label {
  cursor: pointer;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
}

/* distance intensity blur */
.button-container-style label:hover {
  border-radius: 5px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
}

footer {
  margin-top: 200px;
}

.user-instructions {
  width: 50%;
  padding: 40px;
}

.user-instructions p {
  font-size: $lato-small;
  color: white;
  font-weight: 200;
}

// welcome panel
.white-box {
  width: 45%;
  background: white;
}

.white-box h2 {
  font-size: $lato-h3;
  font-weight: 400;
  text-align: center;
  line-height: 2.5rem;
  // margin-bottom: 2rem;
}

input[type="range"] range-thumb {
  width: 8%;
  height: 113%;
  border-radius: 33px;
  background-color: rgb(168, 168, 168);
  overflow: hidden;
}

// CHROME
input[type="range"]::-webkit-slider-runnable-track {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  align-self: center;
  box-sizing: border-box;
  display: block;
  background: #b6b6b6;
}

// FIREFOX
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  cursor: grab;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #e0e0e0;
  border-style: initial;
  border-radius: 50%;
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
}

// FIREFOX HOVER
input[type="range"]::-moz-range-thumb:hover {
  -webkit-appearance: none;
  cursor: grab;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #e0e0e0;
  margin-top: -14px;
  border-style: initial;
  border-radius: 50%;
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
}

// CHROME, SAFARI, OPERA
input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

// range slider track line
input[type="range"]::-webkit-slider-runnable-track {
  background: #b6b6b6;
  border: none;
  border-radius: 5px;
  width: 500px;
  height: 5px;
}

input[type="range"]::-ms-slider-runnable-track {
  border: none;
  background: #b6b6b6;
}

// FIREFOX TRACK
input[type="range"]::-moz-slider-runnable-track {
  border: none;
  background: #b6b6b6;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
  margin-top: -14px;
}

// hover
input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6b6b6;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  background: #b6b6b6;
  border-radius: 1.3px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6b6b6;
}

// indicator
.range-indicator {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.range-value {
  width: 50px;
  height: 30px;
  line-height: 27px;
  text-align: center;
  background: #f28e25;
  color: #fff;
  font-size: $saira-small;
  display: block;
  position: absolute;
  top: -107%;
  left: 0;
  transform: translate(0, 0);
  border-radius: 2px;
}

.range-value :before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #f28e25;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

// rim-width-graphic
.rim-width-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-bottom: 100px;
}

.rim-width-contain div {
  width: 300px;
  height: 300px;
  background: white;
}

.slider-input-content {
  position: relative;
}

// swiper js
.swipe-container {
  overflow: visible;
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  width: 60%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  /* Center slide text vertically */
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  cursor: grab;
  width: 90%;
  height: 100%;
}

.swiper-slide h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.swiper-slide h4 {
  font-size: 1rem;
  margin-top: 10px;
  color: grey;
  margin-bottom: 40px;
}

// dots
// .swiper-pagination
// {
//   position: absolute;
//   bottom: 10px;
//   left: 0;
//   right: 0;
// }

// MEDIA QUERIES ***********
// ****************************
// If the browser window is 1024 or smaller, the background image would do this

@media only screen and(max-width: 1024) {
  .info-box h3 {
    display: block;
    font-family: "lato", sans-serif;
    font-size: $lato-h4;
    font-weight: 300;
  }

  .info-box {
    max-width: 70%;
    height: 100%;
    border-radius: 5px;
    background: #e0e0e0;
    padding: 23px;
  }

  .user-instructions {
    width: 50%;
    padding: 40px;
  }

  .user-instructions p {
    font-size: $lato-small;
    color: white;
    font-weight: 200;
  }

  // Black logo and intro
  .logo-child {
    position: absolute;
    top: 70px;
    left: 260px;
    width: 30%;
    height: auto;
  }
  
}

// *************************************
// *************************************
// *************************************
// *************************************
// *********** MEDIA QUERIES ***********
// *************************************
// *************************************
// *************************************
// *************************************
// If the browser window is 768px or smaller, the background image would do this

@media only screen and(max-width: 768px) {
  html,
  .custom-body-class {
    overflow-x: hidden;
  }

  .logo-container {
    width: 20vw;
    height: auto;
    margin-left: 35px;
  }

  .image-background {
    position: relative;
  }

  .sign-in-form .image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .sign-in-form .content-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .sign-in-form .content-background .form-background {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    margin: 50px;
  }
  .sign-in-form .content-background .form-background .input-background span {
    font-weight: 400;
    color: #2b2c31;
  }

  .sign-in-form .content-background .form-background .input-background input {
    color: #2b2c31;
    background: #ffe7cd;
  }

  .sign-in-form .content-background .form-background .remember {
    color: #2b2c31;
    font-size: $lato-p;
  }

  .sign-in-form .content-background .form-background .input-box p {
    color: #2b2c31;
    font-size: $lato-p;
    font-weight: 300;
    display: block;
    a {
      font-weight: 700;
    }
  }

  .social-container h3 {
    color: #2b2b2b;
  }

  // pressure suggestion
  .pressure-suggestion-content .suggestion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pressure-suggestion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .info-box {
    width: 90%;
    height: auto;
    border-radius: 5px;
    background: #e0e0e0;
    padding: 23px;
    margin: 0 auto;
  }

  // equipment container
  .equipment-suggestions-content {
    width: 85%;
    height: 50%;
    border-radius: 5px;
    background: white;
    padding: 40px;
    margin-top: 50px;
  }

  .equipment-suggestions-content p {
    display: block;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: $saira-h4;
    font-weight: 400;
    line-height: $saira-message-line-height;
  }

  // hamburger
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: auto;
    position: absolute;
    width: 70%;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #f5a851;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-links li a {
    color: black;
    font-size: $saira-h5;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .nav-links li {
    opacity: 0;
  }

  // welcome
  .welcome-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-instructions {
    width: 90%;
    padding: 40px;
  }
  .user-instructions p {
    font-size: $lato-small;
    color: white;
    font-weight: 200;
  }

  .white-box {
    background: white;
    padding: 25px;
  }

  // FIREFOX
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    cursor: grab;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #e0e0e0;
    border-style: initial;
    border-radius: 50%;
    box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
  }

  // FIREFOX HOVER
  input[type="range"]::-moz-range-thumb:hover {
    -webkit-appearance: none;
    cursor: grab;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #e0e0e0;
    border-radius: 50%;
    border-style: initial;
    border-radius: 50%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: #b6b6b6;
  }

  input[type="range"]::-ms-slider-runnable-track {
    background: #b6b6b6;
  }

  // FIREFOX TRACK
  input[type="range"]::-moz-slider-runnable-track {
    background: #b6b6b6;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    background: #949494;
    border-radius: 1.3px;
  }

  .swiper-info-box {
    width: 80%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 23px 0;
  }

  .sign-in-form .form-background .input-box p {
    font-size: $lato-small;
  }

}

@media only screen and(max-width: 375px) {
  // welcome
  .info-box {
    width: 90%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .info-box h3 {
    display: block;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: $saira-h5;
    font-weight: 300;
    line-height: 28px;
  }
}

// menu animation
.nav-active {
  -o-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -o-transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -o-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0px);
  }
}
