<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<!-- very important to include this tag, set the site size to equal the device width -->
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<script src="https://kit.fontawesome.com/2e0221c94f.js" crossorigin="anonymous"></script>
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet" />
	<link rel="shortcut icon" type="image/svg" href="/images/16-flaviconpivot-gradient-logo.svg" />
	<title>Pivot Tire Calculator</title>
	<link href="/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<main>
		<!-- sign in form -->
		<section class="sign-in-form">
			<h1 class="hidden">Image background</h1>
			<div class="image-background">
				<img src="/images/b&w-june-o-82W0ZfB0jUE-unsplash.jpg" alt="unsplash image of cyclist">
			</div>
			<!-- intro logo -->
			<div class="content-background">
				<section class="intro-logo-container">
					<h2 class="hidden">Register</h2>
					<div class="logo-child"></div>
					<p>Your Optimal Tire Pressure Calculator</p>
				</section>
				<div class="form-background">
					<h2>Sign in</h2>
					<form id="register_form" method="post">
						<!-- username -->
						<div class="input-background">
							<span>User name</span>
							<input type="text" name="Name" id="userName" placeholder="Enter a unique user name">
						</div>
						<!-- password -->
						<div class="input-background">
							<span>Password</span>
							<input type="password" 
							id="password" name="Password" placeholder="1234">
						</div>
						<div class="remember">
							<label><input class="check-box" type="checkbox" name="Remember">Remember me</label>
						</div>
						<!-- password field -->
						<div class="orange-lava-button">
								<button type="submit">Sign up</button>
								<!-- <a href="/welcome"> Sign up</a> -->
						</div>
					</form>
					<div class="social-container">
						<h3 class="social-media-title">Login with social media</h3>
						<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="social"><i class="fab fab fa-strava"></i></a>
						<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- <script src="/js/main.js"></script> -->
	<script src="/js/localStorage.js"></script>
</body>
</html>