<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<!-- very important to include this tag, set the site size to equal the device width -->
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<script src="https://kit.fontawesome.com/2e0221c94f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/hamburger.css" />
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet" />
	<link rel="shortcut icon" type="image/svg" href="/images/16-flaviconpivot-gradient-logo.svg" />
	<title>Pivot Tire Calculator</title>
	<link href="/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="/css/main.css" rel="stylesheet" type="text/css" />
	<!-- swiperjs -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
</head>

<body class=".custom-body-class" id="background-contour">
	<main>
		<header>
			<!-- back -->
			<div class="back-button">
				<a href="/wheel-diameter">
					<img src="/images/eva_arrow-back-fill.svg" alt="back-arrow-button">
				</a>
			</div>
			<!-- logo -->
			<div class="logo-container">
				<!-- <h1>Pivot</h1> -->
				<img src="/images/white-pivot-gradient-logo.svg" alt="pivot logo">

			</div>
			<nav>
				<h2 class="hidden">Navigation</h2>
				<ul class="nav-links">
					<li class="nav-link"><a href="#">Dashboard</a></li>
					<li class="nav-link"><a href="#">Settings</a></li>
					<li class="nav-link"><a href="/about">About</a></li>
				</ul>

				<button class="hamburger hamburger--elastic" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</nav>
		</header>
		<section class="welcome-container">
			<h2 class="hidden">Riding style input</h2>
			<section class="info-box-contain slide-up-slowly">
				<form id="riding-style">
					<div class="wheel-diameter-swiper">
						<!-- content -->
						<h3>Select your riding style?</h3>
						<section class="swiper-container">
							<h2 class="hidden">Swiper container</h2>
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<section>
										<h2>Tire & Tubes</h2>
										<h4>For the brave!</h4>
										<img src="/images/inner-tubes.png" alt="Image of inner tube and tire">
									</section>
								</div>
								<div class="swiper-slide">
									<section>
										<h2>Tubular Tire</h2>
										<h4>For the really brave!</h4>
										<img src="/images/tubular.png" alt="Image of Tubular tire">
									</section>
								</div>
								<div class="swiper-slide">
									<section>
										<h2>Hooked Tubeless</h2>
										<h4>Yeeeahaa!</h4>
										<img src="/images/hooks-tubeless.png" alt="Image of hooked tubeless">
									</section>
								</div>
								<div class="swiper-slide">
									<section>
										<h2>Hookless Tubeless</h2>
										<h4>Bring it!</h4>
										<img src="/images/hookless-rim.png" alt="Image of Hydrid bike">
									</section>
								</div>
							</div>
							<section class="swiper-pagination">
								<h2 class="hidden">Swiper-Pagination</h2>
							</section>
						</section>
					</div>
				</form>
			</section>
			<div class="continue-button">
				<input type="button" value="Continue" name="continue" id="saveRim"
					data-save-then-goto="/road-surface">
			</div>
			<div class="user-instructions">
				<p>
					Choosing a tire can be hard, so we made it easy by helping you understand the differences of tires with an inner tube to tubeless constructions. Conventional clinchers are the most common type of tire sold on bikes. As the inner tube inflates, it presses the rim and tire beads together, which secures the tire to the rim. Whereas a Tubular tire's inner tube is enclosed by the tire casing. Tubulars tires have many benefits include weight, great rolling resistance and consistant ride quality.
				</p>
				<p>
					Tubeless tires feature the same general cross-section as a conventional clincher, but without an inner tube. Instead, a layer in the tire casing or liquid sealant is used to make the tire impermeable to air. The rim and tire beads have a different shape than conventional clinchers, with interlocking profiles that form a seal under pressure—much like how a sandwich bag closure works.
				</p>
			</div>
		</section>
		<section class="push-space">
			<h2 class="hidden">Add more margin spacing…</h2>
			<div>
			  
			</div>
		  </section>
		<footer>
			<h2 class="hidden">footer</h2>
			<span>©2021 Pivot App Copyright Aaron Paterson. All rights reserved.</span>
		</footer>
	</main>
	<script src="/js/main.js"></script>
	<script src="/js/swiperjs.js"></script>
	<script src="/js/localStorage.js"></script>
</body>

</html>