<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<!-- very important to include this tag, set the site size to equal the device width -->
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<script src="https://kit.fontawesome.com/2e0221c94f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/hamburger.css" />
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet" />
	<link rel="shortcut icon" type="image/svg" href="/images/16-flaviconpivot-gradient-logo.svg" />
	<title>Pivot Tire Calculator</title>
	<link href="/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="/css/main.css" rel="stylesheet" type="text/css" />
	<!-- swiperjs -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
</head>
<body class=".custom-body-class" id="background-contour">
	<main>
		<header>
			<!-- back -->
			<div class="back-button">
				<a href="/inner-rim-width">
					<img src="/images/eva_arrow-back-fill.svg" alt="back-arrow-button">
				</a>
			</div>
			<!-- logo -->
			<div class="logo-container">
				<!-- <h1>Pivot</h1> -->
				<img src="/images/white-pivot-gradient-logo.svg" alt="pivot logo">
			</div>
			<nav>
				<h2 class="hidden">Navigation</h2>
				<ul class="nav-links">
					<li class="nav-link"><a href="#">Dashboard</a></li>
					<li class="nav-link"><a href="#">Settings</a></li>
				</ul>
				<button class="hamburger hamburger--elastic" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</nav>
		</header>
		<section class="welcome-container">
			<h2 class="hidden">Riding style input</h2>
			<section class="info-box-contain slide-up-fade-in">
				<form id="riding-style">
					<div class="wheel-diameter-swiper">
						<!-- content -->
						<h3>Select your wheel diameter</h3>
						<section class="swiper-container">
							<h2 class="hidden">Swiper container</h2>
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<section>
										<h2>650a</h2>
										<h4>Endurance</h4>
										<img src="/images/650a.png" alt="Image of 650 wheel">
									</section>
								</div>
								<div class="swiper-slide">
									<section>
										<h2>650b</h2>
										<h4>Gravel like</h4>
										<img src="/images/650b.png" alt="Image of 650 wheel">
									</section>
								</div>
								<div class="swiper-slide">
									<section>
										<h2>700c</h2>
										<h4>More Aero</h4>
										<img src="/images/700-wheel.png" alt="Image of 700c Road bike">
									</section>
								</div>
							</div>
							<section class="swiper-pagination"></section>
						</section>
					</div>
				</form>
			</section>
			<div class="continue-button">
				<input type="button" value="Continue" name="continue" id="wheelDiameter" data-save-then-goto="/rim-type">
			</div>
			<div class="user-instructions">
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat, in consequuntur expedita at vitae,
					reiciendis asperiores error quam, distinctio ipsam vel!</p>
			</div>
		</section>
		  <footer>
			<h2 class="hidden">footer</h2>
			<span>©2021 Pivot App Copyright Aaron Paterson. All rights reserved.</span>
		</footer>
	</main>
	<script src="/js/main.js"></script>
	<script src="/js/swiperjs.js"></script>
	<script src="/js/localStorage.js"></script>
</body>

</html>