* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.hidden {
  display: none; }

html,
.custom-body-class {
  overflow-x: hidden;
  position: relative; }

html {
  overflow-x: hidden; }

body {
  background: #2b2c31;
  font-family: "Lato", sans-serif; }

header {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

header h1 {
  color: white; }

.sign-in-form {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px; }

.back-button {
  cursor: pointer;
  display: block; }

.logo-container {
  width: 10vw;
  height: auto;
  margin-left: 165px; }

.sign-in-form .image-background {
  position: relative;
  width: 50%;
  height: 100%; }

.sign-in-form .image-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2870d;
  background: -moz-linear-gradient(90deg, #f2870d 0%, #f5a851 35%, #c12525 100%);
  background: -webkit-linear-gradient(90deg, #f2870d 0%, #f5a851 35%, #c12525 100%);
  background: linear-gradient(90deg, #f2870d 0%, #f5a851 35%, #c12525 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2870d",endColorstr="#c12525",GradientType=1);
  z-index: 1;
  mix-blend-mode: screen; }

.sign-in-form .image-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.sign-in-form .content-background {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center; }

.sign-in-form .content-background .form-background {
  width: 50%; }

.sign-in-form .content-background .form-background h2 {
  color: #f5a851;
  font-weight: 600;
  font-size: 2.441rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-flex;
  letter-spacing: 1px; }

.sign-in-form .content-background .form-background .input-background {
  margin-bottom: 20px; }

.sign-in-form .content-background .form-background .input-background span {
  display: inline-flex;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: white; }

.sign-in-form .content-background .form-background .remember {
  color: white;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px; }

.sign-in-form .content-background .form-background .input-background input {
  width: 100%;
  padding: 12px 20px;
  border-style: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: #777;
  letter-spacing: 1px; }

.sign-in-form .content-background .form-background .remember .check-box {
  margin-right: 10px; }

.sign-in-form .form-background .orange-lava-button input {
  cursor: pointer;
  outline: none;
  width: 100%;
  border-style: none;
  padding: 12px 20px;
  border-radius: 8px;
  outline: none;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  background: #f5a851;
  transition: transform 80ms ease-in; }

.sign-in-form .form-background .orange-lava-button input:hover {
  background: #dd8928; }

.sign-in-form .orange-lava-button:active {
  transform: scale(0.96); }

.sign-in-form .form-background .input-box p a {
  color: #f5a851;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 400; }

.sign-in-form
.content-background
.form-background
.orange-lava-button
input:focus {
  outline: focus; }

.sign-in-form .content-background .form-background .input-box p {
  display: inline-flex;
  font-size: 1rem;
  color: white;
  margin-bottom: 5px;
  font-weight: 300;
  letter-spacing: 1px; }

.form-background h2 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 2.441rem;
  margin: 0; }

.social-media-title {
  color: #f5a851;
  font-weight: 400;
  font-size: 1rem; }

.social-container {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 50px; }
  .social-container h3 {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400; }

.social-container a {
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  background: #444; }

.social-container a:hover {
  background: #dd8928; }

.social-container a:active {
  transform: scale(0.96); }

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.info-box-contain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px; }

.slider-box {
  width: 33vw; }

.radio-info-box {
  width: 33vw;
  border-radius: 5px;
  background: #e0e0e0;
  padding: 33px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75); }

.radio-info-box h3 {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 2.75rem;
  margin-bottom: 4rem; }

.swiper-info-box {
  width: 60%;
  border-radius: 5px;
  background: #e0e0e0;
  padding: 33px 0;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75); }

.swiper-info-box h3 {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 2.75rem;
  margin-bottom: 4rem; }

.equipment-suggestions-content h3 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase; }

.equipment-suggestions-content p {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 3.4375rem;
  color: #3b3c43; }

.suggestion-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; }

.pressure-card {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 40px; }

.user-profile-content {
  display: flex;
  align-items: center; }

.pressure-calculation {
  display: flex;
  flex-direction: row; }

.pressure-card h3 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase; }

.pressure-calculation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 2rem;
  color: #3b3c43;
  margin-top: 20px; }

.pressure-calculation-one .pressure-calculation-two {
  display: inline;
  flex-direction: column; }

.pressure-calculation-one p {
  margin: 0px; }

.pressure-calculation-two p {
  margin: 0px; }

.vertical-line {
  width: 1px;
  height: 100px;
  border-right: 1px solid #3b3c43; }

.pressure-calculation-container span {
  font-size: 4rem; }

.rider-data {
  display: block;
  width: 100%;
  height: auto;
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 40px; }

.rider-data h3 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase; }

.pressure-suggestion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.suggestion-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.pressure-card {
  width: 790px;
  height: 240px;
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 40px;
  padding: 30px;
  -webkit-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75); }

.rider-data {
  width: 790px;
  height: 240px;
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 40px;
  padding: 30px;
  -webkit-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75); }

.card h3 {
  font-size: 15px; }

.card p {
  font-size: 13px;
  color: #65676b; }

.card-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 24px; }

.equipment-suggestions-content {
  width: 90%;
  height: 500px;
  border-radius: 5px;
  background: white;
  padding: 30px;
  -webkit-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75); }

.continue-button input {
  cursor: pointer;
  width: 311px;
  height: 56px;
  border-style: none;
  border-radius: 4px;
  background: #2b2c31;
  box-shadow: 7px 7px 15px #1b1c1f, -7px -7px 15px #3b3c43;
  color: white;
  font-size: 21px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
  outline: none;
  text-decoration: none;
  transition: transform 80ms ease-in;
  user-select: none; }

nav {
  z-index: 2; }

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around; }

/* smooth hover animation */
.nav-links li a {
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 1px;
  list-style: none;
  text-transform: uppercase;
  color: white;
  transition: all 0.5s ease 0s; }

/* animation action */
.nav-links li a:hover {
  padding: 10px 20px;
  background: #f5a851;
  color: white; }

/* hide the burger menu */
.hamburger {
  display: none;
  cursor: pointer;
  padding: 0; }

.line1 {
  width: 50px;
  height: 3px;
  margin: 7px;
  background-color: #f5a851; }

.welcome-container .continue-button input:hover {
  border-radius: 4px;
  background: linear-gradient(145deg, #27282c, #2e2f34);
  box-shadow: 7px 7px 15px #1b1c1f, -7px -7px 15px #3b3c43; }

.welcome-container .continue-button:active {
  transform: scale(0.96); }

.button-container-style form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.button-container-style div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85px;
  height: 85px;
  text-align: center; }

.button-container-style label {
  justify-items: center; }

.button-container-style label,
.button-container-style input {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: -11px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 36px 0; }

.button-container-style input[type="radio"] {
  opacity: 0;
  z-index: 100; }

/* radio button pressed */
.button-container-style form input[type="radio"]:checked + label,
.Checked + label {
  background: #bebebe;
  border-radius: 50%;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

.button-container-style label {
  cursor: pointer;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

/* distance intensity blur */
.button-container-style label:hover {
  border-radius: 5px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

.user-instructions {
  width: 50%;
  padding: 40px; }

.user-instructions p {
  font-size: 1rem;
  color: white;
  font-weight: 200; }

.welcome-white-box {
  width: 45%;
  background: white;
  border-radius: 5px;
  padding: 33px;
  -webkit-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75); }

.welcome-white-box h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 2.5rem; }

input[type="range"] range-thumb {
  width: 8%;
  height: 113%;
  border-radius: 33px;
  background-color: #a8a8a8;
  overflow: hidden; }

input[type="range"]::-webkit-slider-runnable-track {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  align-self: center;
  box-sizing: border-box;
  display: block;
  background: #b6b6b6; }

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #e0e0e0;
  border-style: initial;
  border-radius: 50%;
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

input[type="range"]::-moz-range-thumb:hover {
  -webkit-appearance: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #e0e0e0;
  margin-top: -14px;
  border-style: initial;
  border-radius: 50%;
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
  background: linear-gradient(145deg, #cacaca, #f0f0f0); }

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%; }

input[type="range"]::-webkit-slider-runnable-track {
  background: #b6b6b6;
  border: none;
  border-radius: 5px;
  width: 500px;
  height: 5px; }

input[type="range"]::-ms-slider-runnable-track {
  border: none;
  background: #b6b6b6; }

input[type="range"]::-moz-slider-runnable-track {
  border: none;
  background: #b6b6b6; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff;
  margin-top: -14px; }

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

input[type="range"]:focus {
  outline: none; }

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6b6b6; }

input[type="range"]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  background: #b6b6b6;
  border-radius: 1.3px; }

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6b6b6; }

.range-indicator {
  position: relative;
  width: 80%;
  margin: 0 auto;
  font-family: "Saira Extra Condensed", sans-serif; }

.range-value {
  width: 50px;
  height: 30px;
  line-height: 31px;
  text-align: center;
  background: #f28e25;
  color: #fff;
  font-size: 1.5rem;
  display: block;
  position: absolute;
  top: -107%;
  left: 0;
  transform: translate(0, 0);
  border-radius: 2px; }

.range-value :before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #f28e25;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px; }

.rim-width-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 50px; }

.rim-width-contain div img {
  width: 300px;
  height: 300px; }

.slider-input-content {
  position: relative; }

.swiper-container {
  overflow: visible;
  position: relative;
  width: 100%;
  height: 100%; }

.swiper-wrapper {
  margin-top: 10px;
  padding-bottom: 50px; }

/* Center slide text vertically  safari solution maybe */
.swiper-slide {
  font-size: 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.swiper-slide img {
  cursor: grab;
  width: 50%;
  height: 100%; }

.swiper-slide h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 5px; }

.swiper-slide h4 {
  font-size: 1rem;
  margin-top: 10px;
  color: grey;
  margin-bottom: 40px; }

.intro-logo-container {
  width: 25vw;
  display: flex;
  justify-content: center;
  margin: 0 auto; }

.intro-logo-container p {
  width: 800px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: white;
  margin-top: 30px; }

.logo-child {
  margin-bottom: 75px; }

.logo-child img {
  background-image: url(/images/all-whitepivot-gradient-logo.svg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 160px;
  display: flex;
  margin: 0 auto; }

.slider-box h3 {
  margin-bottom: 1rem; }

.slider-weight-box {
  width: 33vw;
  margin-bottom: 4rem;
  border-radius: 5px;
  background: #e0e0e0;
  padding: 33px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75); }

.slider-weight-box h3 {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 2.75rem;
  margin-bottom: 4rem; }

.rim-swiper-info-box {
  width: 30%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  padding: 23px 0;
  overflow: hidden; }

.wheel-diameter-swiper {
  width: 30%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  padding: 23px 0;
  border-radius: 5px;
  background: #e0e0e0;
  overflow: hidden; }

.wheel-diameter-swiper h3 {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 2.75rem;
  margin-bottom: 4rem; }

#background-contour {
  background-image: url(/images/contour-bckgdcontour.svg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden; }

footer {
  width: 90%;
  height: auto;
  display: flex;
  align-content: flex-end;
  border-top: 1px solid #dd8928;
  margin: 0 auto; }

footer span {
  display: block;
  width: 100%;
  color: white;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 50px; }

@media only screen and (max-width: 768px) {
  .logo-container {
    width: 20vw;
    height: auto;
    margin-left: 35px; }

  .image-background {
    position: relative; }

  .sign-in-form .image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .sign-in-form .content-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1; }

  .sign-in-form .content-background .form-background {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    margin: 50px; }

  .sign-in-form .content-background .form-background .input-background span {
    font-weight: 400;
    color: #2b2c31; }

  .sign-in-form .content-background .form-background .input-background input {
    color: #2b2c31;
    background: #ffe7cd; }

  .sign-in-form .content-background .form-background .remember {
    color: #2b2c31;
    font-size: 1rem; }

  .sign-in-form .content-background .form-background .input-box p {
    color: #2b2c31;
    font-size: 1rem;
    font-weight: 300;
    display: block; }
    .sign-in-form .content-background .form-background .input-box p a {
      font-weight: 700; }

  .form-background h2 {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 2.441rem;
    margin: 0; }

  .social-container h3 {
    color: #2b2b2b; }

  .pressure-suggestion-content .suggestion-container {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .suggestion-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; }

  .pressure-card {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 40px; }

  .user-profile-content {
    display: flex;
    align-items: center; }

  .pressure-calculation {
    display: flex;
    flex-direction: row; }

  .pressure-card h3 {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase; }

  .pressure-calculation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 2rem;
    color: #3b3c43;
    margin-top: 20px; }

  .pressure-calculation-one .pressure-calculation-two {
    display: inline;
    flex-direction: column; }

  .pressure-calculation-one p {
    margin: 0px; }

  .pressure-calculation-two p {
    margin: 0px; }

  .vertical-line {
    width: 1px;
    height: 100px;
    border-right: 1px solid #3b3c43; }

  .pressure-calculation-container span {
    font-size: 4rem; }

  .rider-data {
    display: block;
    width: 100%;
    height: auto;
    background: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 40px; }

  .rider-data h3 {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase; }

  .radio-info-box {
    width: 90%;
    border-radius: 5px;
    background: #e0e0e0;
    padding: 33px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75); }

  .radio-info-box h3 {
    margin-bottom: 3rem; }

  .equipment-suggestions-content h3 {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase; }

  .equipment-suggestions-content p {
    display: block;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4375rem; }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: auto;
    position: absolute;
    width: 70%;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #f5a851;
    transform: translateX(100%);
    transition: transform 0.3s ease-in; }

  .nav-links li a {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px; }

  .nav-links li {
    opacity: 0; }

  .welcome-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .user-instructions {
    width: 90%;
    padding: 40px; }

  .user-instructions p {
    font-size: 1rem;
    color: white;
    font-weight: 200; }

  .welcome-white-box {
    width: 90%;
    height: auto;
    background: white;
    padding: 25px;
    border-radius: 5px; }

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #e0e0e0;
    border-style: initial;
    border-radius: 50%;
    box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

  input[type="range"]::-moz-range-thumb:hover {
    -webkit-appearance: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #e0e0e0;
    border-radius: 50%;
    border-style: initial;
    border-radius: 50%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 9px 9px 17px #bebebe, -9px -9px 17px #ffffff; }

  input[type="range"]::-webkit-slider-runnable-track {
    background: #b6b6b6; }

  input[type="range"]::-ms-slider-runnable-track {
    background: #b6b6b6; }

  input[type="range"]::-moz-slider-runnable-track {
    background: #b6b6b6; }

  input[type="range"]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    background: #949494;
    border-radius: 1.3px; }

  .swiper-info-box {
    width: 60%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 23px 0;
    overflow: hidden; }

  .swiper-slide {
    width: 60%; }

  .sign-in-form .form-background .input-box p {
    font-size: 1rem; }

  .intro-logo-container {
    width: 25vw;
    display: flex;
    justify-content: center;
    margin: 0 auto; }

  .intro-logo-container p {
    width: 375px;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: black; }

  .logo-child img {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }

  .swiper-slide img {
    cursor: grab;
    width: 90%;
    height: 100%; }

  .rim-swiper-info-box {
    width: 76%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 23px 0; }

  .slider-box {
    width: 90%; }

  .wheel-diameter-swiper {
    width: 90%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 23px 0; }

  .slider-weight-box {
    width: 90%;
    margin-bottom: 4rem;
    border-radius: 5px;
    background: #e0e0e0;
    padding: 33px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 53px 27px -43px rgba(0, 0, 0, 0.75); }

  .slider-weight-box h3 {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.75rem;
    margin-bottom: 4rem; } }
@media only screen and (max-width: 375px) {
  .radio-info-box {
    width: 90%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto; }

  .radio-info-box h3 {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 28px; }

  .pressure-card h3 {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase; }

  .swiper-info-box {
    width: 90%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 23px 0; }

  #background-contour {
    background-image: url(/images/contour-bckgdcontour.svg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden; } }
.nav-active {
  -o-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    -o-transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px); }
  to {
    opacity: 1;
    -o-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0px); } }

/*# sourceMappingURL=main.css.map */
